
<div class="bg-accent rounded-md h-full p-2 cursor-pointer" routerLinkActive="active" [routerLink]="['/booster/', set.code.toLowerCase()]">

  <div class="flex items-center justify-between py-2">
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined">bolt</span>
      <h1 class="font-bold text-lg">{{set.name}}</h1>
    </div>
    <h2>{{releaseDateBrazillianFormat}}</h2>
  </div>

  <h3 class="text-primary font-bold"><span class="font-normal">Bloco: </span>{{set.block || 'Sem bloco'}}</h3>

</div>