<div class="rounded-md flex items-start gap-2 bg-accent h-full">
  <img ngSrc="{{card.imageUrl}}" width="192" height="256" alt="{{card.name}}" class="h-44 tablet:w-48 tablet:h-64" priority />
  <div class="w-full h-full p-2 flex flex-col gap-1 justify-between">
    <div class="flex flex-col gap-2">
      <h2 class="text-sm tablet:text-base">{{card.name}}</h2>
      <p class="text-xs">{{card.manaCost}}</p>
      <p class="text-xs text-muted-foreground">{{card.text}}</p>
    </div>
    <div class="w-full flex items-center justify-center rounded-lg">  
      <div *ngFor="let color of card.colors" class="h-3 w-3 flex-grow border border-accent-foreground" [ngStyle]="{'background-color': color}"></div>
    </div>
  </div>
</div>